In [1]:
import pymongo 
from pymongo import MongoClient
import pandas as pd
import math

In [2]:
#import file
df = pd.read_csv("insurance_data.csv", delimiter=";")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5500 entries, 0 to 5499
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   insuree#                  5500 non-null   int64
 1   gender                    5387 non-null   object
 2   is45OrOlder               5404 non-null   float64
 3   isMarried                 5500 non-null   object
 4   hasKids                   5500 non-null   object
 5   insuredMonths             5500 non-null   int64
 6   termLifeInsurance         5500 non-null   object
 7   multipleTermLifePolicies  5500 non-null   object
 8   healthInsurance           5500 non-null   object
 9   healthRiders              3518 non-null   object
 10  premiumFrequency          5386 non-null   float64
 11  eStatements               5500 non-null   object
 12  monthlyPremium            5500 non-null   object
 13  totalPremium              5500 non-null   object
 14  renewal                   5500 non-null   object
dtypes: float64(2), int64(2), object(11)
memory usage: 644.7+ KB

In [4]:
df.head()

,insuree#,gender,is45OrOlder,isMarried,hasKids,insuredMonths,termLifeInsurance,multipleTermLifePolicies,healthInsurance,healthRiders,premiumFrequency,eStatements,monthlyPremium,totalPremium,renewal
0,1,F,0.0,Yes,Yes,23,Yes,No,No,NaN,12.0,Yes,"19,65","451,55",Y
1,2,F,1.0,No,No,42,Yes,Yes,Class A,3,1.0,Yes,"84,65","3541,35",N
2,3,F,0.0,Yes,No,72,Yes,No,No,NaN,12.0,No,"19,4","1496,45",Y
3,4,F,0.0,Yes,Yes,13,Yes,No,No,NaN,12.0,No,"19,55","265,3",Y
4,5,F,0.0,No,No,37,Yes,Yes,Class A,"3,4",1.0,No,"100,3","3541,4",Y

# Data Preprocessing

In [5]:
#create functions to convert strings into numbers
    
def getDummyYesNo(x):
    if x == "Yes":
        return True
    elif x == "No": 
        return False
    
def getDummyRenewal(x):
    if x == "Y":
        return True
    elif x == "N": 
        return False
    
def getDummyMultipleTermLifePolicies(x):
    if x == "Yes":
        return True
    elif x == "No": 
        return False
    elif x == "no term life policy taken": 
        return False
    elif x == "term life policy not taken": 
        return False
    
def getDummyHealthInsurance(x):
    if x == "Class A" or x == "Class B":
        return True
    elif x == "No": 
        return False
    

#create a function to fix issue with total premium having blanks, assume 0 for blanks.
def getDummyTotalPremium(x):
    if x == " ":
        return "0" 
    else:
        return x
    
#create a function to create a list for riders
def getDummyRiders(x):
    returnlist =[]
    if str(x) != "nan":
        list1 = x.split(",")
        for i in list1:
            returnlist.append(int(i))
    return returnlist

In [6]:
#apply functions to convert data into the numerical values

df["isMarried"] = df["isMarried"].apply(getDummyYesNo)
df["hasKids"] = df["hasKids"].apply(getDummyYesNo)
df["termLifeInsurance"] = df["termLifeInsurance"].apply(getDummyYesNo)
df["multipleTermLifePolicies"] = df["multipleTermLifePolicies"].apply(getDummyMultipleTermLifePolicies)
df["eStatements"] = df["eStatements"].apply(getDummyYesNo)
df["renewal"] = df["renewal"].apply(getDummyRenewal)
df["totalPremium"] = df["totalPremium"].apply(getDummyTotalPremium)
df["healthInsurance"] = df["healthInsurance"].apply(getDummyHealthInsurance)
df["healthRiders"] = df["healthRiders"].apply(getDummyRiders)

#make value types to float after correcting the structure of the data

df["monthlyPremium"] = df["monthlyPremium"].apply(lambda x: float(x.replace(',','.')))
df["totalPremium"] = df["totalPremium"].apply(lambda x: float(x.replace(',','.')))
df["is45OrOlder"] = df["is45OrOlder"].astype('bool')

In [7]:
df = df.where(pd.notnull(df), None)

In [8]:
df.head()

,insuree#,gender,is45OrOlder,isMarried,hasKids,insuredMonths,termLifeInsurance,multipleTermLifePolicies,healthInsurance,healthRiders,premiumFrequency,eStatements,monthlyPremium,totalPremium,renewal
0,1,F,False,True,True,23,True,False,False,[],12.0,True,19.65,451.55,True
1,2,F,True,False,False,42,True,True,True,[3],1.0,True,84.65,3541.35,False
2,3,F,False,True,False,72,True,False,False,[],12.0,False,19.40,1496.45,True
3,4,F,False,True,True,13,True,False,False,[],12.0,False,19.55,265.30,True
4,5,F,False,False,False,37,True,True,True,"[3, 4]",1.0,False,100.30,3541.40,True

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5500 entries, 0 to 5499
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   insuree#                  5500 non-null   int64
 1   gender                    5387 non-null   object
 2   is45OrOlder               5500 non-null   bool
 3   isMarried                 5500 non-null   bool
 4   hasKids                   5500 non-null   bool
 5   insuredMonths             5500 non-null   int64
 6   termLifeInsurance         5500 non-null   bool
 7   multipleTermLifePolicies  5500 non-null   bool
 8   healthInsurance           5500 non-null   bool
 9   healthRiders              5500 non-null   object
 10  premiumFrequency          5386 non-null   object
 11  eStatements               5500 non-null   bool
 12  monthlyPremium            5500 non-null   float64
 13  totalPremium              5500 non-null   float64
 14  renewal                   5500 non-null   bool
dtypes: bool(8), float64(2), int64(2), object(3)
memory usage: 343.9+ KB

# Connect to MongoDB

In [10]:
#Connect to mongodb

cluster = MongoClient("mongodb+srv://nwc200:2912156@cluster0.iu3ug.mongodb.net/?retryWrites=true&w=majority")
db = cluster["insurance"]
collection = db["insurance"]

In [11]:
#leave value as null if value is none else convert to correct datatype

def intChecker(x):
    if x is None:
        return x
    else:
        return int(x)

def boolChecker(x):
    if x is None:
        return x
    else:
        return bool(x)

def floatChecker(x):
    if x is None:
        return x
    else:
        return float(x)

In [12]:
#insert values into mongodb

for i in range(len(df)):
    
    post = {
        "_id": i+1,
        "insuree#": intChecker(df["insuree#"][i]),
        "gender": str(df["gender"][i]),
        "is45OrOlder": boolChecker(df["is45OrOlder"][i]),
        "isMarried": boolChecker(df["isMarried"][i]),
        "hasKids": boolChecker(df["hasKids"][i]),
        "insuredMonths": intChecker(df["insuredMonths"][i]),
        "termLifeInsurance": {
            "hasPolicy": boolChecker(df["termLifeInsurance"][i]),
            "hasMultiplePolicies": boolChecker(df["multipleTermLifePolicies"][i])
        },
        "healthInsurance": {
            "hasPolicy": boolChecker(df["healthInsurance"][i]),
            "riders": df["healthRiders"][i]
        },
        "premiumFrequency": intChecker(df["premiumFrequency"][i]),
        "eStatements": boolChecker(df["eStatements"][i]),
        "monthlyPremium": floatChecker(df["monthlyPremium"][i]),
        "totalPremium": floatChecker(df["totalPremium"][i]),
        "renewal": boolChecker(df["renewal"][i]) 
    }
    collection.insert_one(post)